@import '../../styles/variables';
@import '../../styles/mixins';


.step-bar {
  @include flex-start;
  gap: $spacing-sm;
  background: $bg-tertiary;
  padding: $spacing-md $spacing-xl;
  border-bottom: 1px solid $border-color;

  &__item {
    @include flex-start;
  }

  &__content {
    @include flex-start;
    gap: $spacing-md;
  }

  &__circle {
    @include flex-center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    font-size: $font-size-sm;
    font-weight: 500;

    &--completed {
      background: $success-color;
      color: $bg-primary;
    }

    &--active {
      background: $primary-color;
      color: $bg-primary;
    }

    &--inactive {
      background: $border-color;
      color: $text-secondary;
    }
  }

  &__label {
    font-size: $font-size-sm;
    font-weight: 500;

    &--active {
      color: $text-primary;
    }

    &--inactive {
      color: $text-secondary;
    }
  }

  &__separator {
    margin: 0 $spacing-md;

    svg {
      display: block;
      color: $text-disabled;
    }
  }
}
