@import "../../../styles/variables" ;
@import "../../../styles/mixins" ;

.iam-role {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    color: $text-primary;
  }

  &__subtitle {
    font-size: 0.875rem;
    color: $text-secondary;
  }

  &__card {
    background-color: $bg-primary;
    border-radius: $border-radius-lg;
    padding: 1.875rem;
    box-shadow: $shadow-lg;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  &__step {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    color: $text-primary;
    font-size: 0.95rem;

    &--highlight {
      align-items: center;
      font-size: 1.1rem;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  &__policy {
    position: relative;
    border: 1px solid $border-color;
    border-radius: $border-radius-lg;
    padding: 0.75rem;
    font-size: 0.875rem;
    color: $primary-color;
    background-color: $bg-secondary;
    max-height: 12.5rem;
    overflow: auto;

    @include scrollbar();
  }

  &__copy-btn {
    position: sticky;
    top: 0.25rem;
    float: right;
    background: transparent;
    border: 1px solid $border-color;
    border-radius: $border-radius-sm;
    padding: 0.25rem;
    cursor: pointer;
    color: $primary-color;
    transition: background 0.2s ease;

    &:hover {
      background-color: $bg-primary;
      color: #fff;
    }
  }

  &__readonly {
    position: relative;
    max-width: 26rem;

    input {
      width: 100%;
      padding: 0.5rem 2.5rem 0.5rem 0.75rem;
      border: 1px solid $border-color;
      border-radius: $border-radius;
      background-color: $bg-secondary;
      color: $bg-primary;
    }

    button {
      position: absolute;
      right: 0.5rem;
      top: 50%;
      transform: translateY(-50%);
      border: 1px solid $border-color;
      background: transparent;
      border-radius: $border-radius-sm;
      padding: 0.25rem;
      cursor: pointer;

      &:hover {
        background-color: $bg-primary;
        color: #fff;
      }
    }
  }

  &__image {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    overflow: hidden;
    background-color: $bg-secondary;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  &__inputs {
    display: flex;
    gap: 1.5rem;
  }
}
