@import "../../styles/mixins";
@import "../../styles/variables";

.cost-chart {
  width: 100%;
  height: 100%;
  min-height: 400px;

  &.loading,
  &.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $text-secondary;

    .spinner {
      width: 40px;
      height: 40px;
      border: 4px solid $border-light;
      border-top-color: $primary-color;
      border-radius: 50%;
      animation: spin 1s linear infinite;
      margin-bottom: $spacing-md;
    }

    .empty-icon {
      margin-bottom: $spacing-md;
      opacity: 0.3;
    }

    h3 {
      margin: 0 0 $spacing-xs 0;
      font-size: $font-size-lg;
      color: $text-primary;
    }

    p {
      margin: 0;
      font-size: $font-size-sm;
      color: $text-secondary;
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}