@import "../../styles/mixins";
@import "../../styles/variables";

.cost-chart {
  width: 100%;
  height: 100%;
  min-height: 400px;

  &.loading,
  &.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #666;

    .spinner {
      width: 40px;
      height: 40px;
      border: 4px solid #eee;
      border-top-color: #4F81BC;
      border-radius: 50%;
      animation: spin 1s linear infinite;
      margin-bottom: 16px;
    }

    .empty-icon {
      font-size: 48px;
      margin-bottom: 16px;
      opacity: 0.5;
    }

    h3 {
      margin: 0 0 8px 0;
      font-size: 18px;
      color: #333;
    }

    p {
      margin: 0;
      font-size: 14px;
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

