// src/components/Toggle/Toggle.scss
@import '../../styles/variables';

.toggle-wrapper {
  display: flex;
  align-items: center;
  gap: $spacing-md;

  .toggle-container {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 22px;
    cursor: pointer;
    
    &.disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  .toggle-input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .toggle-slider {
      background-color: $primary-color;
      
      &:before {
        transform: translateX(22px);
      }
    }

    &:focus + .toggle-slider {
      box-shadow: 0 0 0 2px rgba(91, 143, 249, 0.1);
    }
  }

  .toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $border-color;
    transition: $transition-base;
    border-radius: 22px;

    &:before {
      position: absolute;
      content: "";
      height: 18px;
      width: 18px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      transition: $transition-base;
      border-radius: 50%;
    }
  }

  .toggle-label {
    font-size: $font-size-base;
    color: $text-primary;
  }
}