@import "../../styles/variables";
@import "../../styles/mixins";

.error-fallback {
  min-height: 100vh;
//   background: $bg-secondary;
  padding: $spacing-lg;

  @include flex-center; // center content
}

.error-card {
  width: 100%;
  text-align: center;
  padding: $spacing-xl;
}

.error-illustration {
  width: 160px;
  margin-bottom: $spacing-lg;
}

.error-title {
  font-size: $font-size-xl + 4;
  color: $text-primary;
  margin-bottom: $spacing-sm;
  font-weight: 600;
}

.error-subtitle {
  font-size: $font-size-base;
  color: $text-secondary;
  margin-bottom: $spacing-xl;
}

.error-btn {
  display: inline-block;
  background: $primary-color;
  padding: $spacing-sm $spacing-lg;
  border-radius: $border-radius-lg;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: $transition-base;
  box-shadow: $shadow;

  &:hover {
    background: $primary-dark;
    box-shadow: $shadow-lg;
  }
}
