.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .layout-body {
    display: flex;
    flex: 1;
  }

  .layout-sidebar {
    width: 240px;
    background: #f4f5f9;
    border-right: 1px solid #ddd;
  }

  .layout-content {
    flex: 1;
    padding: 100px 60px;
    background: #ffffff;
  }

  &.sidebar-collapsed {
    .layout-sidebar {
      width: 60px;
    }

    .layout-content {
      margin-left: 30px;
      transition: margin-left 0.3s;
    }
  }
}





// .layout-container {
//   display: flex;
//   flex-direction: column;
    // height: 100vh;
//   &.sidebar-collapsed {
//     .layout-sidebar {
//       width: 60px;
//     }

//     .layout-content {
//       margin-left: 60px;
//       transition: margin-left 0.3s;
//     }
//   }
// }

// .layout-body {
//   display: flex;
// flex:1;
// }